#config this file by changing the value of each key-value pair to the right value. 
NODE_ENV=development
DB_PORT=1111 #the port to use when connecting to the database. 
DB_USER=username #the username of the database 
DB_PASSWORD=password #The password of the database
DB_NAME=database_name #The name of the database you would like to connect to.
DB_HOST_IP #The ip address of the database 
